* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-roboto);
  background-color:darkcyan;
}

.app {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  margin: 3px auto;
  padding: 5px;
  letter-spacing: 0.9px;
  color: rgba(249, 211, 180, 1);
  width: fit-content;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.joke {
  width: 310px;
  min-height: 350px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  background-color: cadetblue;
  border: none;
}

